    header {
      text-align: center;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      color: orange;
      background-color: black;
    }
    .nav {
      color: white;
    }
    h1 {
      font-size: 70px;
    }
    
    ul {
      padding: 15px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 10px 10p;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
     
      li {
        padding: 5px;
        display: block;
      }
    }
  #about{
  background-color: black;
  }