    header {
      text-align: center;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      color: orange;
      background-color: black;
    }
    .nav {
      color: white;
    }
    h1 {
      font-size: 70px;
    }
    
    ul {
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
    }
    div{
      max-width: 500px;
      
    }
    @media (max-width: 500px) {
     
    }
  #about{
  background-color: black;
  }